#title{
    font-weight: 2500;
    margin-bottom: 0%;
}
#mainPage
{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
};